{{- if .Values.cyrusImap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mail-platform.fullname" . }}-cyrus-config
  labels:
    {{- include "mail-platform.cyrus.labels" . | nindent 4 }}
data:
  imapd.conf: |
    # Cyrus IMAP Configuration
    servername: {{ .Values.global.domain }}
    
    # Directory paths
    configdirectory: {{ .Values.cyrusImap.persistence.mailMetadataPath }}
    partition-default: {{ .Values.cyrusImap.persistence.mailDataPath }}
    sievedir: {{ .Values.cyrusImap.persistence.mailDataPath }}/sieve
    
    # Authentication
    sasl_pwcheck_method: auxprop
    sasl_auxprop_plugin: sasldb
    sasl_mech_list: PLAIN LOGIN
    
    # LDAP Authentication (if using LDAP)
    # sasl_pwcheck_method: saslauthd
    # sasl_saslauthd_path: /var/run/saslauthd/mux
    # ldap_servers: ldap://{{ include "mail-platform.fullname" . }}-ldap:389
    # ldap_bind_dn: cn=admin,{{ .Values.ldap.config.baseDN }}
    # ldap_search_base: {{ .Values.ldap.config.baseDN }}
    
    # TLS/SSL
    tls_cert_file: /etc/ssl/certs/ssl-cert-snakeoil.pem
    tls_key_file: /etc/ssl/private/ssl-cert-snakeoil.key
    tls_ca_file: /etc/ssl/certs/ca-certificates.crt
    
    # Virtual domains
    virtdomains: yes
    defaultdomain: {{ .Values.global.domain }}
    
    # Features
    sieveusehomedir: false
    sieve_extensions: fileinto reject vacation imapflags notify include envelope body relational regex
    
    # Performance
    hashimapspool: true
    allowplaintext: yes
    
    # Quotas
    quotawarn: 90
    
    # Misc
    admins: cyrus
    postmaster: postmaster@{{ .Values.global.domain }}
    
  cyrus.conf: |
    # Cyrus services configuration
    START {
      # UNIX sockets
      recover       cmd="ctl_cyrusdb -r"
    }
    
    SERVICES {
      # IMAP services
      imap          cmd="imapd" listen="imap" prefork=5
      imaps         cmd="imapd -s" listen="imaps" prefork=1
      
      # LMTP service for mail delivery
      lmtp          cmd="lmtpd" listen="lmtp" prefork=1
      
      # Sieve service
      sieve         cmd="timsieved" listen="sieve" prefork=0
    }
    
    EVENTS {
      # Checkpoint
      checkpoint    cmd="ctl_cyrusdb -c" period=30
      
      # Delete expired messages
      delprune      cmd="cyr_expire -E 3" at=0400
      
      # Delete old messages
      deleteprune   cmd="cyr_expire -X 7" at=0430
      
      # Clean up mailboxes
      tlsprune      cmd="tls_prune" at=0400
    }
    
  sasldb.conf: |
    # SASL database configuration
    pwcheck_method: auxprop
    auxprop_plugin: sasldb
    mech_list: PLAIN LOGIN
{{- end }}
